<md-bottom-sheet class="md-list md-has-header">
    <md-subheader><h2>{{workDetailCtrl.formTitle}}</h2></md-subheader>
	<form name="workDetailForm" ng-submit="workDetailCtrl.saveWork()">
		<md-content ng-if="workDetailCtrl.formType == 1">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Title :</label>
				<input ng-model="workDetailCtrl.work.title" />
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>Detail :</label>
				<textarea rows="3" ng-model="workDetailCtrl.work.detail"></textarea>
			</md-input-container>   
			<p>Prioty :</p>
			<md-radio-group ng-model="workDetailCtrl.work.prioty">
				<md-radio-button value="3">Must do</md-radio-button>
				<md-radio-button value="2">Should do</md-radio-button>
				<md-radio-button value="1">Do after</md-radio-button>
			</md-radio-group>
			<md-button type="submit" class="md-raised md-primary">Save</md-button>
		</md-content>
		<md-content ng-if="workDetailCtrl.formType == 2">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Title :</label>
				<input ng-model="workListCrl.work.title" />
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>Detail :</label>
				<textarea rows="3" ng-model="workListCrl.work.detail">{{workListCrl.work.detail}}</textarea>
			</md-input-container>   
			<p>Prioty :</p>
			<md-radio-group ng-model="workListCrl.work.prioty">
				<md-radio-button value="3">Must do</md-radio-button>
				<md-radio-button value="2">Should do</md-radio-button>
				<md-radio-button value="1">Do after</md-radio-button>
			</md-radio-group>
			<md-button type="submit" class="md-raised md-primary">Save</md-button>
		</md-content>
	</form>
</md-bottom-sheet>
